@charset "UTF-8";


:root{
    --cor-fundo : #0f172a; 
    --cor-car: #1e293b;
    --cor-destaque: #38bdf8;
    --cor-text: #f1f5f5;
    --cor-secundaria:#94a3b8;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    color: var(--cor-text);


}
.container{
    background-color: var(--cor-car);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow:0px 20px 60px rgb(0, 0,3);
    text-align: center;


}

h1{
    color: var(--cor-destaque);
    margin-bottom: 20px;
    font-size: 28px;

}

input{
    width: 100%;
    padding: 15px;
    border: 2px solid var(--cor-destaque);
    background: var(--cor-fundo);
    color: var(--cor-text);
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 15px;
    outline: none;
}
input:focus{
    border-color: #0ea5e9;
    box-shadow: 0 0 3px rgb(56, 189, 248,0.2);
}

 button{
   width: 100%;
   padding: 15px;
   background-color: var(--cor-destaque);
   color: var(--cor-fundo);
   border: none;
   border-radius: 12px;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   transition:  0.3s;

}

button>hover{
    background: 0ea5e9;
    transform: translateY(-2px);
}

#resultado{
    margin-top: 25px;
}

#resultado h2{
    font-size: 24px;
    margin-bottom: 10px;
}

#resultado p:first-of-type {
    font-size: 48px;
    font-weight: 700;
    color: var(--cor-destaque);
    margin: 15px 0;

}

#resultado img {
    width: 100px;
    filter: drop-shadow(0 5px 10px rgb(0,0,3));

}

#resultado p {
    color: var(--cor-destaque);
    text-transform: capitalize;
}

.loader{
    border: 4px solid rgb(255, 255, 255,0.2);
    border-top: 4px solid #00bcd4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin{
    0% {transform:rotate(0deg);}
    100%{transform: rotate(360deg);}
}